################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookGentle/BookGentle/bin/Debug/netcoreapp3.1
/BookGentle/BookGentle/obj
/BookGentle/.vs/BookGentle
